/*
SCSS:
1. Use Lato font, with a sans-serif fallback; bonus points: fallback to system fonts
2. Use already defined mixins and extends; you may add code to them
3. Fonts for the question in dialog should be 16px tall;
4. All fonts on devices with viewports wider than 768px should be 20% bigger.
5. Use variables for all of the colors.
6. Add a minimalistic hover effect for buttons and icons - design is up to you.
7. Opening dialog should move the page content behind a translucent overlay
8. On mobile devices the "Cancel" button should be displayed above the "OK" button
9. Add transitions to all hover effects with these parameters:
  - duration: 300ms
  - delay: .1s
  - timing function: ease-out
10. Add improvements wherever you see a need for one
*/
$font-family: Lato, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
$facebook-blue: #3b5998;
$linkedin-blue: #0e76a8;
$youtube-red: #c4302b;
$ok-button-color: #08D465;
$cancel-button-color: #FA0125;
$font-size-mobile: 20px; 
$font-size-question: 16px;


@mixin not-mobile {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin hover-transition($transition-name) {
  transition: $transition-name 300ms ease-out 0.1s;
}

@mixin button() {
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #000;
  background: #eee;
  display: inline-block;
  color: #000;
  margin-top: 20px;

  &:hover.button--ok {
    background-color: $ok-button-color;
    @include hover-transition(background-color);   
  }
  
  &:hover.button--cancel {
    background-color: $cancel-button-color;
    @include hover-transition(background-color);
  }
  
}

.social-links {
  li {
    @extend %social-link;
    float: right;
  }

}

%social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 20px 0 20px;
  display: block;
  background-image: url(https://www.magneticpoint.com/themes/custom/mp/assets/images/ic-linkedin.svg);
  background-color: $linkedin-blue;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  cursor: pointer;

  &.social-link--youtube {
    background-image: url(https://www.magneticpoint.com/themes/custom/mp/assets/images/ic-youtube.svg);
    background-color: $youtube-red;
  }

  &.social-link--facebook {
    background-image: url(https://www.magneticpoint.com/themes/custom/mp/assets/images/ic-facebook.svg);
    background-color: $facebook-blue;
  }

  &:hover {
    @include hover-transition(transform);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-0.5rem);
  }
}

.dialog {

  &.is-hidden {
    display: none;
  }

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.5);
  
  .container {   
    @include mobile {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      justify-content: center;
      
      .button--ok {
        order: 2;
      }
      
      .button--cancel {
        order: 1;
      }
    }
    
    a {
        @include button;  
    }
  
    background: #fff;
    color: #000;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border: 1px solid #aaa;
    height: auto;
    margin: 0 20px 0 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);

    >div {
      padding-bottom: 20px;
      border-bottom: 1px solid #000;
    }
    
    .question{
      font-size: $font-size-question;
    
      @include not-mobile {
      font-size: $font-size-question + $font-size-question *0.2;
    }
    }
  }
}

body {
  background: #f5f5f5;
  padding: 20px;
  font-size: $font-size-mobile;
  font-family: $font-family;
  color: #000;
  
  @include not-mobile {
    font-size: $font-size-mobile + $font-size-mobile *0.2;
  }
}
